@charset "utf-8";
/* CSS Document */

/* -----------------------------------一级导航------------------------------------ */
.en .header {
	padding: 16px 0 13px;
}

/*修改关于页面二级分类高度*/
.header-about div:nth-child(2){
	margin-top: 13px !important;
	margin-bottom: 13px !important;
}
/*修改搜索放大镜图标*/
.navigation li:nth-child(5){
	margin-top: 2px;
	width:33px;
}
.navigation li:nth-child(5) img{
	filter: drop-shadow(1000px 0 0 #AAA);
	transform: translate(-1000px);
}

.navigation a.current img{
	filter: drop-shadow(1000px 0 0 #464646);
	transform: translate(-1000px);
}

.white .navigation li:nth-child(5) img{
	filter: drop-shadow(1000px 0 0 #FFF);
	transform: translate(-1000px);
}
/* -----------------------------------二级子导航------------------------------------ */

.filter-box {
	font-family: inherit;
	padding: 21px 20px;
}
/*英文二级分类边距*/
.en .filter-box {
	padding:22px 20px 21px 20px;
	font-size: 14px;
}
/*修改其他二级分类文字上边距*/
/*.td {margin-top: 12px;}*/

/*修改联系我们二级分类*/
/*.td.filter-jobs {
	margin: 0 auto;
	padding: 23px 0 0;
}
.td.filter-jobs .car {
	width: 194px;
	float: right;
}
.td.filter-jobs .car a {
	float: left;
	line-height: 14px;
}*/

/*修改筛选按钮样式*/


/*修改事务所二级筛选样式*/
.en .office-sub {
	padding: 7px 0 4px;
}

/*修改项目二级筛选样式*/
/*.filter-box.filter-projects {}*/
.filter-box.filter-projects .car{
	width: 340px;
	float: right;
}
.en .filter-box.filter-projects .car{
	width: 461px;
}
/*.en .filter-box.filter-projects .car{padding-right: 231px;}*/
.filter-box a.filter-text {
	padding: 2px 36px 0 0;
	border: 0;
	background: initial;
	float: left;
	border-radius: initial;
	line-height: 14px;
}
/*时间选项*/
.filter-box.filter-projects .dd {padding-top: 39px;}
.filter-box.filter-projects .dd a {margin: 0 34px 10px 0px; float: left;}

/*修改媒体筛选样式*/
.filter-box.filter-media {
	font-size: 14px;
	padding: 23px 20px 20px 20px;
}
.filter-box.filter-media .car{
	float: right;
	width: 302px;
}
.en .filter-box.filter-media .car{
	width: 366px;
}
.filter-box.filter-media a:first-child {
	display: none;
}
.filter-box.filter-media a{
	margin: 0 0 0 34px;
	line-height: 14px;
	float: left;
}
.en .filter-box.filter-media a{
	margin: 1px 0 0 34px;
}

/*英文联系我们二级分类*/
.sub-contact .car {
	width: 195px;
	float: right;
}
.sub-contact .car a {
	float: left;
}
.en .sub-contact .car {
	width: 240px;
}

/* -----------------------------------事务所------------------------------------ */
/*#dang {display: none;}*/
/*#team {display: none;}*/

/*#team ul:last-child {
	padding-top:40px;
}*/

.team li .name {
	font-weight: 400;
	font-size: 14px;
}

.team li .zhi {
	font-size: 12px;
	margin-top: -4px;
}
.team .project-images {
	height: 240px;
}

.team a {
	height: 240px;
}

#dang a:first-child {
    margin-left: 0px;
}

.en #dang .filter-box {
	padding-left: 0px;
}



/* -----------------------------------项目栏目------------------------------------ */
/*项目地图修改*/
.detail dd p {margin-bottom: 30px;}
/*.projects div {height: 200px !important;}*/

/*隐藏高德地图LOGO*/
.amap-logo {visibility: hidden !important;}
.amap-copyright {visibility: hidden;}




/* -----------------------------------媒体栏目------------------------------------ */


/* -----------------------------------联系栏目------------------------------------ */
/*修改联系我们*/
.contact {
	padding-top: 0px;
	margin-bottom: 0;
}
.address {
	left: 20px;
	top: 75px;
}
.en .address {
	top: 57px !important;
}
.joblist {padding: 0 0 500px 0;}
.zhao, .lian {
	color: #242424;
    margin-bottom: 80px;
	font-weight: 600;
	font-size: 18px;
}
.joblist {
	padding-bottom: 50px;
}

/* -----------------------------------搜索栏目------------------------------------ */
/*修改搜索栏上边距*/
.search_input {margin-top: 40px !important;}
/*搜索修改*/
.projectss li {
    width: calc((100% - 30px) / 4);
    margin: 0 10px 10px 0px;
}
.ti {
	margin: 0;
	padding: 5px 0 50px 0;
}
.media-date {padding: 6px 0 2px 0;}


/* -----------------------------------底部------------------------------------ */
.footer {
	padding: 50px 0;
}


/* -----------------------------------手机版------------------------------------ */
@media screen and (max-width: 900px){
	body {
		padding-top: 55px;
	}
	.header {
		padding: 18px 0 14px;
	}
	.en .header {
		padding: 17px 0 16px;
	}
	.en .header-about div:first-child {
		padding-bottom: 1px;
	}
	.header-about #shouji {
		padding: 5px 0 21px;
	}
	.en .header-about #shouji {
		padding: 6px 0 19px;
	}
	.en .filter-box {
		padding: 21px 20px 19px 20px;
	}
	#a_2, #a_3, #a_4 {
		margin-left: 0px;
	}
	.filter-box a {
		margin: 0 16px 0 0;
		height: 30px;
	}
	.en .filter-box.filter-media a {
		margin: 1px 31px 0 0;
	}
	.en .sub-contact .car a {
		margin-top: 1px;
	}

	#dd {
		white-space: inherit;
		line-height: 30px;
	}

	#a_2 {
		margin-left: 0;
	}

	.filter-box {
		padding: 20px;
	}

	.filter-box a.filter-text {
		padding: 0 36px 0 0;
		margin-bottom: 0;
	}

	.filter-box.filter-media {
		padding: 20px;
	}

	.car {
		height: 14px;
	}

	.td {
		/*margin-top:20px;*/
	}

	.sub-contact .car {
		line-height: 14px;
		height: initial;
		float: left;
		width: 100%;
	}

	/*菜单搜索按钮*/
	.navigation li:nth-child(5) {
		width: 100%;
		float: right;
	}

	/*菜单展开搜索按钮*/
	.showmenu .navigation li:nth-child(5) img {
		filter: drop-shadow(1000px 0 0 #000000);
		transform: translate(-1000px);
	}

	.hasimage-content .detail video {
		padding-top: 20px;
	}

	/*媒体列表*/
	.filter-box.filter-media .car {
		float: left;
	}

	.filter-box.filter-media a {
		margin: 0 34px 0 0;
	}

	/*联系我们*/
	.contact {
		padding-top: 375px !important;
	}
	.address {
		margin-top: -470px;
		margin-bottom: 170px;
	}
	#zhao {
		padding-top: 80px !important;
	}
	.zhao {
		margin-bottom: 40px;
	}
	.lian {
		margin-bottom: 40px;
	}

	/*搜索页*/
	.search_input {
		margin-top: 10px !important;
	}
	.icon-search {
		left: 94%;
	}
	.projectss li {
	    width: calc(52% - 12px);
	}

	#left .cat {
		top: 43px;
	}
}














